<html>
<head>
<title>REgisteration</title>
</head>
<script>
var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('confirm_password').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
}


</script>
<center>
<body>
<form action={% url 'register' %}>
Enter your name :<input type="text" name="name" required><br><br>
Enter your phone number :<input type="text" name="mobile" required><br><br>
Enter email:<input type="text" name="email" required><br><br>
Enter new password:<input type="password" id="password" name="passwd" required><br><br>
Enter confirm password:<input type="password" id="confirm_password" name="cpasswd" onkeyup='check();' required><br><br>
<input type="submit" value="Register">
</center>
</body>
</html>
