<html>
<body>
<div class="main-contents">
				<div class="container">
					<!-- START #page -->
					<div id="page">
						
						<!-- START #contactForm -->
						<section id="signup-form">
							<h2 class="ft-heading text-upper">Account Detail</h2>
							<form name="frm" method="post" action="registeration.php">
							
								<fieldset>
									<ul class="formFields list-unstyled">
										<li class="row">
											<div class="col-md-6">
											<label>Name <span class="required small">(Required)</span></label>
										  <input type="name" class="form-control" name="name" placeholder="enter your name" required />	
												
												
												
											</div>
											<div class="col-md-6">
											<label>Email <span class="required small">(Required)</span></label>
											<input type="email" class="form-control" name="email" placeholder="enter your email" required />	
											
										
											</div>
										</li>
										<form name="frm" method="post" action="">
										<li class="row">
											<div class="col-md-6">
											<label>Password <span class="required small">(Required)</span></label>
											<input type="password" class="form-control" name="password" placeholder="Enter Password" required />	
											</div>
											<div class="col-md-6">
											<label>Confirm Password <span class="required small">(Required)</span></label>
											<input type="password" class="form-control" name="confirmpassword" placeholder="Re-enter Password" required />	
											</div>
										</li>
										
									
										
										<li class="row">
											<div class="col-md-12">
											<input type="submit" class="btn btn-primary btn-lg text-upper" value="Submit" onclick="return val();" />
											<input type="reset" class="btn btn-primary btn-lg text-upper" value="Reset" />
										</li>
										<li class="row">
											<div class="col-md-12">
												
											</div>
										</li>
										</form>
									</ul>
								</fieldset>
							</form>
						</section>
						<!-- END #contactForm -->
					</div>
					<!-- END #page -->
				</div>
			</div>
</body>









</html>
